<%= render'events_top' %>

<%= render 'smart_phone_menu' %>

<section id="sumidagawa">
  <div class="container">
    <div class="events_smart" >
            <h2>追いコン</h2>
      <div class="bxslider">
        <div class=""><%= image_tag "events/oikon1.jpg",:size=> "350×350", :alt => "追いコン"%></div>
        <div class=""><%= image_tag "events/oikon2.jpg",:size=> "350×350", :alt => "追いコン"%></div>
        <div class=""><%= image_tag "events/oikon3.jpg",:size=> "350×350", :alt => "追いコン"%></div>
        <div class=""><%= image_tag "events/oikon4.jpg",:size=> "350×350", :alt => "追いコン"%></div>
        <div class=""><%= image_tag "events/oikon5.jpg",:size=> "350×350", :alt => "追いコン"%></div>
      </div>
        <p>12月のイベントの一つ、4年生の追い出しコンパです。渋谷のおしゃれなお店を貸し切りって楽しみます。女子はドレス、男子はスーツとドレスコードがあり、とても華やかなイベントです。普段それほど関わりのない4年生ともたくさん話せて仲良くなれます。</p>
      <p><a href="/events" class="btn btn-primary">Back to Annual Schedule</a></p>
    </div>
  </div>
</section>
