<%= render'events_top' %>

<%= render 'smart_phone_menu' %>

<section id="sumidagawa">
  <div class="container">
    <div class="events_smart" >
            <h2>隅田川花火大会</h2>
      <div class="bxslider">
        <div class=""><%= image_tag "events/fireworks1.jpg",:size=> "350×350", :alt => "fireworks"%></div>
        <div><%= image_tag "events/fireworks2.jpg", :alt => "fireworks"%></div>
        <div><%= image_tag "events/fireworks3.jpg", :alt => "fireworks"%></div>
        <div><%= image_tag "events/fireworks4.jpg", :alt => "fireworks"%></div>
        <div><%= image_tag "events/fireworks5.jpg", :alt => "fireworks"%></div>
      </div>
        <p>7月の末にある隅田川花火大会。３年生の先輩が前日の夜から場所取りをしてくれていてるので、普段だと見れないようないい場所で大迫力の花火をみることができます。女子は毎年浴衣で参加という、華やかで楽しい夏の一大イベントです。</p>
      <p><a href="/events" class="btn btn-primary">Back to Annual Schedule</a></p>
    </div>
  </div>
</section>
