<%= render'events_top' %>
<%= render 'smart_phone_menu' %>
<section id="sumidagawa">
  <div class="container">
    <div class="events_smart" >
            <h2>夏合宿</h2>
      <div class="bxslider">
        <div class=""><%= image_tag "events/summer1.jpg",:size=> "350×350", :alt => "夏合宿"%></div>
        <div class=""><%= image_tag "events/summer2.jpg",:size=> "350×350", :alt => "夏合宿"%></div>
        <div class=""><%= image_tag "events/summer3.jpg",:size=> "350×350", :alt => "夏合宿"%></div>
        <div class=""><%= image_tag "events/summer4.jpg",:size=> "350×350", :alt => "夏合宿"%></div>
        <div class=""><%= image_tag "events/summer5.jpg",:size=> "350×350", :alt => "夏合宿"%></div>
        <div class=""><%= image_tag "events/summer6.jpg",:size=> "350×350", :alt => "夏合宿"%></div>
        <div class=""><%= image_tag "events/summer7.jpg",:size=> "350×350", :alt => "夏合宿"%></div>
      </div>
          <p>夏の合宿、５泊６日のテニス合宿です。紅白戦やサークル内大会などのテニスイベントはもちろん、肝試しや川遊びといった夏らしいイベントも目白押しです。中でも合宿中にある花火大会は間近で大迫力の花火が見れる、レモンスマッシュイチオシのイベントです。全部参加するもよし、自分の予定に併せて参加するもよし。毎日楽しい思い出が作られていくことでしょう。</p>
      <p><a href="/events" class="btn btn-primary">Back to Annual Schedule</a></p>
    </div>
  </div>
</section>
