<%= render'events_top' %>

<%= render 'smart_phone_menu' %>

<section id="sumidagawa">
  <div class="container">
    <div class="events_smart" >
            <h2>新歓コンパ</h2>
            <div class="bxslider">
              <div><%= image_tag "events/shinkan7.jpg", :size => "400×300", :alt => "新歓コンパ"%></div>
              <div><%= image_tag "events/shinkan1.jpg", :size => "400×300", :alt => "新歓コンパ"%></div>
              <div><%= image_tag "events/shinkan2.jpg", :size => "400×300", :alt => "新歓コンパ"%></div>
              <div><%= image_tag "events/shinkan3.jpg", :size => "400×300", :alt => "新歓コンパ"%></div>
              <div><%= image_tag "events/shinkan4.jpg", :size => "400×300", :alt => "新歓コンパ"%></div>
              <div><%= image_tag "events/shinkan5.jpg", :size => "400×300", :alt => "新歓コンパ"%></div>
              <div><%= image_tag "events/shinkan6.jpg", :size => "400×300", :alt => "新歓コンパ"%></div>
            </div>
        <p>レモンスマッシュに入ってくれた新入生が、初めて一同に会するのがこの新歓コンパです。ちょっとお洒落なカフェを貸しきって、新入生のみなさんを歓迎します！<br><strong>今年は4月17日</strong>に開催します。豪華景品がもらえるクイズ大会などのイベントもあり、毎年大盛り上がりです。先輩や同期の仲間と仲良くなって、大学生活の好スタートを切りましょう！</p>
      <p><a href="/events" class="btn btn-primary">Back to Annual Schedule</a></p>
    </div>
  </div>
</section>
