<%= render'events_top' %>

<%= render 'smart_phone_menu' %>

<section id="sumidagawa">
  <div class="container">
    <div class="events_smart" >
            <h2>クリパ</h2>
            <div class="bxslider">
              <div><%= image_tag "events/chr1.jpg", :alt => "クリパ"%></div>
              <div><%= image_tag "events/chr2.jpg", :alt => "クリパ"%></div>
              <div><%= image_tag "events/chr3.jpg", :alt => "クリパ"%></div>
              <div><%= image_tag "events/chr4.jpg", :alt => "クリパ"%></div>
              <div><%= image_tag "events/chr5.jpg", :alt => "クリパ"%></div>
              <div><%= image_tag "events/chr6.jpg", :alt => "クリパ"%></div>
            </div>
        <p>	<br>レモンスマッシュの中で後期に1,2を争う大きなイベントの1つ。クリスマスパーティーではお店を貸しきって、みんなで楽しく仮装をします。1番印象的な仮装をしてきた人は表彰されるかも？多彩な芸を発表したり美味しいものを食べたり、プレゼントを各自持ち寄って交換したり！クリスマスイベントをみんなで満喫しちゃいます</p>
      <p><a href="/events#annual-schedule" class="btn btn-primary center-block">Back</a></p>
    </div>
  </div>
</section>
