<div id="tenniswrap">
    <div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
        <h4></h4>
        <h1>EVENTS INTRODUCTION</h1>
        <h4></h4>
			</div>
		</div><! --/row -->
    </div> <!-- /container -->
</div><! --/headerwrap -->

<section class="action" id="annual-schedule" style="background:none;">
  <div class="container events-index  " style="padding-left:0px; padding-right:0px;">
    <div class="col-lg-3 ">
      <div class="h-body text-center">
        <h4>４月</h4>
        <Hr>
        <a href ="#shinkan_compa">新歓コンパ</a><br>

        <p>新歓検見合宿</p>
        <p>地域企画</p>
      </div>
    </div>
    <div class="col-lg-3 " style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events4.jpg", :size => "400×300", :alt => "テニス"%></div>
    <div class="col-lg-3 ">
      <div class="h-body text-center">
        <h4>５月</h4>
        <Hr>
        <p>新歓合宿</p>
        <p>一年会</p>
        <a href ="#festival">東京大学五月祭</a><br>
      </div>
    </div>
    <div class="col-lg-3 " style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events5.jpg", :size => "400×300", :alt => "テニス"%></div>
  </div>

  <div class="container events-index  " style="padding-left:0px; padding-right:0px;">
    <div class="col-lg-3 " style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events6.jpg", :size => "400×300", :alt => "テニス"%></div>
    <div class="col-lg-3 ">
      <div class="h-body text-center">
        <h4>６月</h4>
        <Hr>
          <p>OB会</p>
          <p>男子会・女子会</p>
          <p>前期総会</p>
      </div>
    </div>
    <div class="col-lg-3 " style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events7.jpg", :size => "400×300", :alt => "テニス"%></div>
    <div class="col-lg-3 ">
      <div class="h-body text-center">
        <h4>７月</h4>
        <Hr>
          <p>検見合宿</p>
          <a href ="#sumidagawa">隅田川花火大会</a>
      </div>
    </div>
  </div>

  <div class="container events-index  " style="padding-left:0px; padding-right:0px;">
    <div class="col-lg-3 ">
      <div class="h-body text-center">
        <h4>８月</h4>
        <Hr>
          <p>BBQ企画</p>
          <p>ミックス大会</p>
          <a href ="#summer_stay">夏合宿</a><br>
      </div>
    </div>
    <div class="col-lg-3 " style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events8.jpg", :size => "400×300", :alt => "テニス"%></div>
    <div class="col-lg-3 ">
      <div class="h-body text-center">
        <h4>９月</h4>
        <Hr>
          <p>一年合宿</p>
          <a href ="#tournament">関東団体戦</a><br>
        <a href ="#festival">東京大学五月祭</a><br>
      </div>
    </div>
    <div class="col-lg-3 " style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events9.jpg", :size => "400×300", :alt => "テニス"%></div>
  </div>

  <div class="container events-index  " style="padding-left:0px; padding-right:0px;">
      <div class="col-lg-3 " style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events10.jpg", :size => "400×300", :alt => "テニス"%></div>
    <div class="col-lg-3 ">
      <div class="h-body text-center">
        <h4>１０月</h4>
        <Hr>
          <p>男子合宿・女子合宿</p>
          <p>後期総会</p>
      </div>
    </div>
  <div class="col-lg-3 " style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events11.jpg", :size => "400×300", :alt => "テニス"%></div>
  <div class="col-lg-3 ">
    <div class="h-body text-center">
      <h4>１１月</h4>
      <Hr>
        <p>OB会</p>
        <a href ="#festival">東京大学駒場祭</a>
    </div>
  </div>
</div>

<div class="container events-index  " style="padding-left:0px; padding-right:0px;">
  <div class="col-lg-3 ">
    <div class="h-body text-center">
      <h4>１２月</h4>
      <Hr>
        <a href ="#oikon">追いコン</a><br>
        <a href ="#christmas">クリパ</a><br>
        <a href ="#ski">冬合宿</a><br>
    </div>
  </div>
  <div class="col-lg-3 " style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events12.jpg", :size => "400×300", :alt => "テニス"%></div>
  <div class="col-lg-3 ">
    <div class="h-body text-center">
      <h4>２月</h4>
      <Hr>
        <p>検見合宿</p>
        <p>一年生戦</p>
        <p>卒業生戦</p>
    </div>
  </div>
  <div class="col-lg-3 " style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events2.jpg", :size => "400×300", :alt => "テニス"%></div>
</div>

<div class="container events-index  " style="padding-left:0px; padding-right:0px;">
  <div class="col-lg-3  col-lg-offset-3">
    <div class="h-body text-center">
      <h4>３月</h4>
      <Hr>
        <p>春合宿</p>
        <a href ="#tournament">国公立団体戦</a>
    </div>
  </div>
  <div class="col-lg-3 " style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events3.jpg", :size => "400×300", :alt => "テニス"%></div>
</div>
</section>

<!--
<div class="jumbotron top-space" id="annual-schedule">
  <div class="container">
    <h3 class="text-center thin">Anual Schedule</h3>
    <div class="row">
      <div class=" col-sm-6 highlight">
        <div class="h-caption"><h4>April</h4></div>
        <div class="h-body text-center">
          <a href ="#shinkan-compa">新歓コンパ</a><br>
          <p>新歓検見合宿</p>
          <p>地域企画</p>
        </div>

        <div class="h-caption"><h4>May</h4></div>
        <div class="h-body text-center">
          <p>新歓合宿</p>
          <p>一年会</p>
          <a href ="#festival">東京大学五月祭</a><br>
        </div>

        <div class="h-caption"><h4>June</h4></div>
        <div class="h-body text-center">
          <p>OB会</p>
          <p>男子会・女子会</p>
          <p>前期総会</p>
        </div>
      </div>

      <div class=" col-sm-6 highlight">
        <div class="h-caption"><h4>July</h4></div>
        <div class="h-body text-center">
          <p>検見合宿</p>
          <a href ="#sumidagawa">隅田川花火大会</a><br>
        </div>
        <div class="h-caption"><h4>August</h4></div>
        <div class="h-body text-center">
          <p>BBQ企画</p>
          <p>ミックス大会</p>
          <a href ="#summer-stay">夏合宿</a><br>
        </div>
        <div class="h-caption"><h4>September</h4></div>
        <div class="h-body text-center">
          <p>一年合宿</p>
          <a href ="#tournament">関東団体戦</a><br>
        </div>
      </div>

      <div class=" col-sm-6 highlight">
        <div class="h-caption"><h4>Ocotober</h4></div>
        <div class="h-body text-center">
          <p>男子合宿・女子合宿</p>
          <p>後期総会</p>
        </div>
        <div class="h-caption"><h4>November</h4></div>
        <div class="h-body text-center">
          <p>OB会</p>
          <a href ="#festival">東京大学駒場祭</a><br>
        </div>
        <div class="h-caption"><h4>December</h4></div>
        <div class="h-body text-center">
          <a href ="#oikon">追いコン</a><br>
          <a href ="#christmas">クリパ</a><br>
          <a href ="#ski">冬合宿</a><br>
          <p>忘年会</p>
        </div>
      </div>

      <div class=" col-sm-6 highlight">
        <div class="h-caption"><h4>January</h4></div>
        <div class="h-body text-center">
          <p>新年会</p>
        </div>
        <div class="h-caption"><h4>February</h4></div>
        <div class="h-body text-center">
          <p>検見合宿</p>
          <p>一年生戦</p>
          <p>卒業生戦</p>
        </div>
        <div class="h-caption"><h4>March</h4></div>
        <div class="h-body text-center">
          <p>春合宿</p>
          <a href ="#tournament">国公立団体戦</a><br>
        </div>
      </div>
    </div>
  </div>
</div>
-->


<div >
  <section class="margin-top" id="shinkan-compa">
    <div class="container">
      <div class="col-lg-12 events" style="background:white;">
          <div class=" col-lg-6">
            <h2>新歓コンパ</h2>
            <p>レモンスマッシュに入ってくれた新入生が、初めて一同に会するのがこの新歓コンパです。ちょっとお洒落なカフェを貸しきって、新入生のみなさんを歓迎します！<br><strong>今年は4月17日</strong>に開催します。豪華景品がもらえるクイズ大会などのイベントもあり、毎年大盛り上がりです。先輩や同期の仲間と仲良くなって、大学生活の好スタートを切りましょう！</p>
            <p><a href="#annual-schedule" class="btn btn-primary">Back to Annual Schedule</a></p>
          </div>
          <div class="col-lg-6">
            <div class="bxslider">
              <div><%= image_tag "events/shinkan7.jpg", :size => "400×300", :alt => "新歓コンパ"%></div>
              <div><%= image_tag "events/shinkan1.jpg", :size => "400×300", :alt => "新歓コンパ"%></div>
              <div><%= image_tag "events/shinkan2.jpg", :size => "400×300", :alt => "新歓コンパ"%></div>
              <div><%= image_tag "events/shinkan3.jpg", :size => "400×300", :alt => "新歓コンパ"%></div>
              <div><%= image_tag "events/shinkan4.jpg", :size => "400×300", :alt => "新歓コンパ"%></div>
              <div><%= image_tag "events/shinkan5.jpg", :size => "400×300", :alt => "新歓コンパ"%></div>
              <div><%= image_tag "events/shinkan6.jpg", :size => "400×300", :alt => "新歓コンパ"%></div>
            </div>
          </div>
      </div>
    </div>
  </section>
  <section class="margin-top" id="festival">
    <div class="container">
      <div class="col-lg-12 events" style="background:white;">
          <div class="col-lg-6">
            <div class="bxslider">
              <div><%= image_tag "events/festival1.jpg", :size => "400×300", :alt => "学祭関連"%></div>
              <div><%= image_tag "events/festival2.jpg", :size => "400×300", :alt => "学祭関連"%></div>
              <div><%= image_tag "events/festival3.jpg", :size => "400×300", :alt => "学祭関連"%></div>
              <div><%= image_tag "events/festival4.jpg", :size => "400×300", :alt => "学祭関連"%></div>
              <div><%= image_tag "events/festival5.jpg", :size => "400×300", :alt => "学祭関連"%></div>
              <div><%= image_tag "events/festival6.jpg", :size => "400×300", :alt => "学祭関連"%></div>
            </div>
          </div>
          <div class=" col-lg-6">
            <h2>東京大学五月祭・駒場祭</h2>
            <p>5月には本郷キャンパスの五月祭、11月には駒場キャンパスの駒場祭でサークルの屋台を出します。五月祭は２年生が中心となって、駒場祭は１年生が中心となってお店を運営します。シフト以外の時間にはほかのお店も回れるので、学園祭を満喫できます。</p>
            <p><a href="#annual-schedule" class="btn btn-primary">Back to Annual Schedule</a></p>
          </div>
      </div>
    </div>
  </section>
  <section class="margin-top" id="sumidagawa">
    <div class="container">
      <div class="col-lg-12 events" style="background:white;">
          <div class=" col-lg-6">
            <h2>隅田川花火大会</h2>
              <p>7月の末にある隅田川花火大会。３年生の先輩が前日の夜から場所取りをしてくれていてるので、普段だと見れないようないい場所で大迫力の花火をみることができます。女子は毎年浴衣で参加という、華やかで楽しい夏の一大イベントです。</p>
            <p><a href="#annual-schedule" class="btn btn-primary">Back to Annual Schedule</a></p>
          </div>
          <div class="col-lg-6">
            <div class="bxslider">
              <div><%= image_tag "events/fireworks1.jpg", :size => "400×300", :alt => "fireworks"%></div>
              <div><%= image_tag "events/fireworks2.jpg", :size => "400×300", :alt => "fireworks"%></div>
              <div><%= image_tag "events/fireworks3.jpg", :size => "400×300", :alt => "fireworks"%></div>
              <div><%= image_tag "events/fireworks4.jpg", :size => "400×300", :alt => "fireworks"%></div>
              <div><%= image_tag "events/fireworks5.jpg", :size => "400×300", :alt => "fireworks"%></div>
            </div>
          </div>
      </div>
    </div>
  </section>
  <section class="margin-top"　id="summer-stay">
    <div class="container">
      <div class="col-lg-12 events" style="background:white;">
          <div class="col-lg-6">
            <div class="bxslider">
              <div><%= image_tag "events/summer1.jpg", :size => "400×300", :alt => "夏合宿"%></div>
              <div><%= image_tag "events/summer2.jpg", :size => "400×300", :alt => "夏合宿"%></div>
              <div><%= image_tag "events/summer3.jpg", :size => "400×300", :alt => "夏合宿"%></div>
              <div><%= image_tag "events/summer4.jpg", :size => "400×300", :alt => "夏合宿"%></div>
              <div><%= image_tag "events/summer5.jpg", :size => "400×300", :alt => "夏合宿"%></div>
              <div><%= image_tag "events/summer6.jpg", :size => "400×300", :alt => "夏合宿"%></div>
              <div><%= image_tag "events/summer7.jpg", :alt => "夏合宿"%></div>
            </div>
          </div>
          <div class=" col-lg-6">
            <h2>夏合宿</h2>
            <p>夏の合宿、５泊６日のテニス合宿です。紅白戦やサークル内大会などのテニスイベントはもちろん、肝試しや川遊びといった夏らしいイベントも目白押しです。中でも合宿中にある花火大会は間近で大迫力の花火が見れる、レモンスマッシュイチオシのイベントです。全部参加するもよし、自分の予定に併せて参加するもよし。毎日楽しい思い出が作られていくことでしょう。</p>
            <p><a href="#annual-schedule" class="btn btn-primary">Back to Annual Schedule</a></p>
          </div>
      </div>
    </div>
  </section>
  <section class="margin-top" id="tournament">
    <div class="container">
      <div class="col-lg-12 events" style="background:white;">
          <div class=" col-lg-6">
            <h2>関東・国公立団体戦</h2>
            <p>団体戦で強敵に勝利すること。それはレモンスマッシュのテニスの目標です。日々の練習から、レギュラーによる練習まで、一人ひとりが技術と体力、そして精神力を磨いて団体戦で勝利することを望んでいます。サークルの対抗戦はコートの直ぐ側まで応援が入り、選手とともに戦います。一体となって相手サークルを倒すことは想像以上に楽しく感動的です。一緒に団体戦を楽しみましょう。</p>
            <p><a href="#annual-schedule" class="btn btn-primary">Back to Annual Schedule</a></p>
          </div>
          <div class="col-lg-6">
            <div class="bxslider">
              <div><%= image_tag "events/tournament1.jpg", :alt => "団体戦"%></div>
              <div><%= image_tag "events/tournament2.jpg", :alt => "団体戦"%></div>
              <div><%= image_tag "events/tournament3.jpg", :alt => "団体戦"%></div>
              <div><%= image_tag "events/tournament4.jpg", :alt => "団体戦"%></div>
              <div><%= image_tag "events/tournament5.jpg", :alt => "団体戦"%></div>
              <div><%= image_tag "events/tournament6.jpg", :alt => "団体戦"%></div>
            </div>
          </div>

      </div>
    </div>
  </section>
  <section class="margin-top" id="oikon">
    <div class="container">
      <div class="col-lg-12 events" style="background:white;">
          <div class="col-lg-6">
            <div class="bxslider">
              <div><%= image_tag "events/oikon1.jpg", :alt => "追いコン"%></div>
              <div><%= image_tag "events/oikon2.jpg", :alt => "追いコン"%></div>
              <div><%= image_tag "events/oikon3.jpg", :alt => "追いコン"%></div>
              <div><%= image_tag "events/oikon4.jpg", :alt => "追いコン"%></div>
              <div><%= image_tag "events/oikon5.jpg", :alt => "追いコン"%></div>
            </div>
          </div>
          <div class=" col-lg-6">
            <h2>追いコン</h2>
            <p>12月のイベントの一つ、4年生の追い出しコンパです。渋谷のおしゃれなお店を貸し切りって楽しみます。女子はドレス、男子はスーツとドレスコードがあり、とても華やかなイベントです。普段それほど関わりのない4年生ともたくさん話せて仲良くなれます。</p>
            <p><a href="#annual-schedule" class="btn btn-primary">Back to Annual Schedule</a></p>
          </div>
      </div>
    </div>
  </section>
  <section class="margin-top" id="christmas">
    <div class="container">
      <div class="col-lg-12 events" style="background:white;">
          <div class=" col-lg-6">
            <h2>クリパ</h2>
            <p>	レモンスマッシュの中で後期に1,2を争う大きなイベントの1つ。クリスマスパーティーではお店を貸しきって、みんなで楽しく仮装をします。1番印象的な仮装をしてきた人は表彰されるかも？多彩な芸を発表したり美味しいものを食べたり、プレゼントを各自持ち寄って交換したり！クリスマスイベントをみんなで満喫しちゃいます</p>
            <p><a href="#annual-schedule" class="btn btn-primary">Back to Annual Schedule</a></p>
          </div>
          <div class="col-lg-6">
            <div class="bxslider">
              <div><%= image_tag "events/chr1.jpg", :alt => "クリパ"%></div>
              <div><%= image_tag "events/chr2.jpg", :alt => "クリパ"%></div>
              <div><%= image_tag "events/chr3.jpg", :alt => "クリパ"%></div>
              <div><%= image_tag "events/chr4.jpg", :alt => "クリパ"%></div>
              <div><%= image_tag "events/chr5.jpg", :alt => "クリパ"%></div>
              <div><%= image_tag "events/chr6.jpg", :alt => "クリパ"%></div>
            </div>
      </div>
    </div>
  </section>
  <section class="margin-top" id="ski">
    <div class="container">
      <div class="col-lg-12 events" style="background:white;">
          <div class="col-lg-6">
            <div class="bxslider">
              <div><%= image_tag "events/ski1.jpg", :size => "400×300", :alt => "冬合宿"%></div>
              <div><%= image_tag "events/ski2.jpg", :size => "400×300", :alt => "冬合宿"%></div>
              <div><%= image_tag "events/ski4.jpg", :size => "400×300", :alt => "冬合宿"%></div>
              <div><%= image_tag "events/ski5.jpg", :size => "400×300", :alt => "冬合宿"%></div>
            </div>
          </div>
          <div class=" col-lg-6">
            <h2>冬合宿</h2>
            <p>冬の合宿、2泊3日のスキー・スノボ合宿です。夜行バスでスキー場まで向かい、その翌日と次の日とたっぷり滑れます。・スキー・スノボともに、経験者が丁寧に教えてくれるので、初心者でもすぐに滑れるようになります。テニスがない唯一の合宿ですが、普段とはまた一味違ったレモンスマッシュを楽しめます。</p>
            <p><a href="#annual-schedule" class="btn btn-primary">Back to Annual Schedule</a></p>
          </div>
      </div>
    </div>
  </section>
</div>
