<%= render'events_top' %>

<%= render 'smart_phone_menu' %>

<section id="sumidagawa">
  <div class="container">
    <div class="events_smart" >
            <h2>東京大学五月祭・駒場祭</h2>
      <div class="bxslider">
        <div class=""><%= image_tag "events/festival1.jpg",:size=> "350×350", :alt => "学祭関連"%></div>
        <div class=""><%= image_tag "events/festival2.jpg",:size=> "350×350", :alt => "学祭関連"%></div>
        <div class=""><%= image_tag "events/festival3.jpg",:size=> "350×350", :alt => "学祭関連"%></div>
        <div class=""><%= image_tag "events/festival4.jpg",:size=> "350×350", :alt => "学祭関連"%></div>
        <div class=""><%= image_tag "events/festival5.jpg",:size=> "350×350", :alt => "学祭関連"%></div>
        <div class=""><%= image_tag "events/festival6.jpg",:size=> "350×350", :alt => "学祭関連"%></div>
      </div>
        <p>5月には本郷キャンパスの五月祭、11月には駒場キャンパスの駒場祭でサークルの屋台を出します。五月祭は２年生が中心となって、駒場祭は１年生が中心となってお店を運営します。シフト以外の時間にはほかのお店も回れるので、学園祭を満喫できます。</p>
      <p><a href="/events" class="btn btn-primary">Back to Annual Schedule</a></p>
    </div>
  </div>
</section>
