<%= render'events_top' %>

<%= render 'smart_phone_menu' %>

<section id="sumidagawa">
  <div class="container">
    <div class="events_smart" >
            <h2>冬合宿</h2>
      <div class="bxslider">
        <div class=""><%= image_tag "events/ski1.jpg",:size=> "350×350", :alt => "冬合宿"%></div>
        <div class=""><%= image_tag "events/ski2.jpg",:size=> "350×350", :alt => "冬合宿"%></div>
        <div class=""><%= image_tag "events/ski4.jpg",:size=> "350×350", :alt => "冬合宿"%></div>
        <div class=""><%= image_tag "events/ski5.jpg",:size=> "350×350", :alt => "冬合宿"%></div>
      </div>
        <p>冬の合宿、2泊3日のスキー・スノボ合宿です。夜行バスでスキー場まで向かい、その翌日と次の日とたっぷり滑れます。・スキー・スノボともに、経験者が丁寧に教えてくれるので、初心者でもすぐに滑れるようになります。テニスがない唯一の合宿ですが、普段とはまた一味違ったレモンスマッシュを楽しめます。</p>
      <p><a href="/events" class="btn btn-primary">Back to Annual Schedule</a></p>
    </div>
  </div>
</section>
