<%= render'events_top' %>
<%= render 'smart_phone_menu' %>
<section id="tournament">
  <div class="container">
    <div class="events_smart">
      <h2>関東・国公立団体戦</h2>
      <div class="bxslider">
        <div class=""><%= image_tag "events/tournament1.jpg",:size=> "350×350", :alt => "団体戦"%></div>
        <div class=""><%= image_tag "events/tournament2.jpg",:size=> "350×350", :alt => "団体戦"%></div>
        <div class=""><%= image_tag "events/tournament3.jpg",:size=> "350×350", :alt => "団体戦"%></div>
        <div class=""><%= image_tag "events/tournament4.jpg",:size=> "350×350", :alt => "団体戦"%></div>
        <div class=""><%= image_tag "events/tournament5.jpg",:size=> "350×350", :alt => "団体戦"%></div>
        <div class=""><%= image_tag "events/tournament6.jpg",:size=> "350×350", :alt => "団体戦"%></div>
      </div>
        <p>団体戦で強敵に勝利すること。それはレモンスマッシュのテニスの目標です。日々の練習から、レギュラーによる練習まで、一人ひとりが技術と体力、そして精神力を磨いて団体戦で勝利することを望んでいます。サークルの対抗戦はコートの直ぐ側まで応援が入り、選手とともに戦います。一体となって相手サークルを倒すことは想像以上に楽しく感動的です。一緒に団体戦を楽しみましょう。</p>
      <p><a href="/events" class="btn btn-primary">Back to Annual Schedule</a></p>
    </div>
  </div>
</section>
