<%= render'events_top' %>

<%= render 'smart_phone_menu' %>

<h1 class="centered">Annual Schedule</h1>

<section class="action" style="background:none;">
  <div class="container events-smart-index" style="padding-left:0px; padding-right:0px;">
    <div class="col-xs-6">
      <div class="h-body text-center">
        <h4>４月</h4>
        <Hr>
        <a href ="/events_shinkan_compa">新歓コンパ</a><br>

        <h6>新歓検見合宿</h6>
        <h6>地域企画</h6>
      </div>
    </div>
    <div class="col-xs-6" style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events4.jpg", :size => "400×300", :alt => "テニス"%></div>
  </div>

  <div class="container events-smart-index" style="padding-left:0px; padding-right:0px;">
    <div class="col-xs-6" style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events5.jpg", :size => "400×300", :alt => "テニス"%></div>
    <div class="col-xs-6">
      <div class="h-body text-center">
        <h4>５月</h4>
        <Hr>
        <h6>新歓合宿</h6>
        <h6>一年会</h6>
        <a href ="/events_festival">東京大学五月祭</a><br>
      </div>
    </div>
  </div>

  <div class="container events-smart-index" style="padding-left:0px; padding-right:0px;">
    <div class="col-xs-6">
      <div class="h-body text-center">
        <h4>６月</h4>
        <Hr>
          <h6>OB会</h6>
          <h6>男子会・女子会</h6>
          <h6>前期総会</h6>
      </div>
    </div>
    <div class="col-xs-6" style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events6.jpg", :size => "400×300", :alt => "テニス"%></div>
  </div>

  <div class="container events-smart-index" style="padding-left:0px; padding-right:0px;">
    <div class="col-xs-6" style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events7.jpg", :size => "400×300", :alt => "テニス"%></div>
    <div class="col-xs-6">
      <div class="h-body text-center">
        <h4>７月</h4>
        <Hr>
          <h6>検見合宿</h6>
          <a href ="/events_sumidagawa">隅田川花火大会</a>
      </div>
    </div>
  </div>

  <div class="container events-smart-index" style="padding-left:0px; padding-right:0px;">
    <div class="col-xs-6">
      <div class="h-body text-center">
        <h4>８月</h4>
        <Hr>
          <h6>BBQ企画</h6>
          <h6>ミックス大会</h6>
          <a href ="/events_summer_stay">夏合宿</a><br>
      </div>
    </div>
    <div class="col-xs-6" style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events8.jpg", :size => "400×300", :alt => "テニス"%></div>
  </div>

  <div class="container events-smart-index" style="padding-left:0px; padding-right:0px;">
    <div class="col-xs-6" style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events9.jpg", :size => "400×300", :alt => "テニス"%></div>
    <div class="col-xs-6">
      <div class="h-body text-center">
        <h4>９月</h4>
        <Hr>
          <h6>一年合宿</h6>
          <a href ="/events_tournament">関東団体戦</a><br>
        <a href ="/events_festival">東京大学五月祭</a><br>
      </div>
    </div>
  </div>

  <div class="container events-smart-index" style="padding-left:0px; padding-right:0px;">
    <div class="col-xs-6">
      <div class="h-body text-center">
        <h4>１０月</h4>
        <Hr>
          <h6>男子合宿・女子合宿</h6>
          <h6>後期総会</h6>
      </div>
    </div>
    <div class="col-xs-6" style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events10.jpg", :size => "400×300", :alt => "テニス"%></div>
  </div>

<div class="container events-smart-index" style="padding-left:0px; padding-right:0px;">
  <div class="col-xs-6" style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events11.jpg", :size => "400×300", :alt => "テニス"%></div>
  <div class="col-xs-6">
    <div class="h-body text-center">
      <h4>１１月</h4>
      <Hr>
        <h6>OB会</h6>
        <a href ="/events_festival">東京大学駒場祭</a>
    </div>
  </div>
</div>

<div class="container events-smart-index" style="padding-left:0px; padding-right:0px;">
  <div class="col-xs-6">
    <div class="h-body text-center">
      <h4>１２月</h4>
      <Hr>
        <a href ="/events_oikon">追いコン</a><br>
        <a href ="/events_christmas">クリパ</a><br>
        <a href ="/events_ski">冬合宿</a><br>
    </div>
  </div>
  <div class="col-xs-6" style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events12.jpg", :size => "400×300", :alt => "テニス"%></div>
</div>

<div class="container events-smart-index" style="padding-left:0px; padding-right:0px;">
  <div class="col-xs-6" style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events2.jpg", :size => "400×300", :alt => "テニス"%></div>
  <div class="col-xs-6">
    <div class="h-body text-center">
      <h4>２月</h4>
      <Hr>
        <h6>検見合宿</h6>
        <h6>一年生戦</h6>
        <h6>卒業生戦</h6>
    </div>
  </div>
</div>

<div class="container events-smart-index" style="padding-left:0px; padding-right:0px;">
  <div class="col-xs-6">
    <div class="h-body text-center">
      <h4>３月</h4>
      <Hr>
        <h6>春合宿</h6>
        <a href ="/events_tournament">国公立団体戦</a>
    </div>
  </div>
  <div class="col-xs-6" style="padding-left:0px; padding-right:0px;"><%= image_tag "events/events3.jpg", :size => "400×300", :alt => "テニス"%></div>
</div>
</section>
