<!-- Static navbar -->

<div id="headerwrap" class="image">
    <div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>INTERCOLLEGIATE TENNIS CIRCLE</h4>
				<h1>LEMON SMASH</h1>
				<h4>THE UNIVERSITY OF TOKYO <br>×<br> OCHANOMIZU UNIV <br>×<br> JAPAN WOMEN'S UNIV</h4>
			</div>
		</div><! --/row -->
    </div> <!-- /container -->
</div><! --/headerwrap -->

<section id="about"></section>
<div class="container">
  <div class="row centered mt">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>About Us</h1>
      <p>東大レモンスマッシュ（通称レスマ）は東大の６大サークル、<br>そして４大インカレサークルの一角をなす、歴史と伝統があるテニスサークルです。</p>
      <p>男子は東京大学、女子はお茶の水女子大学、日本女子大学で構成されており、<br>男女比はおよそ１：１となっています。</p>
      <p>今年度の関東団体戦では女子はシードとして活躍、男子はシード決めに進出し、<br>次回こそはシードを取るべく、切磋琢磨しています。</p>
      <p>一方で遊ぶときはしっかりと遊ぶのも私達の長所です。</p>
      <p>いつも和気あいあいとした雰囲気で、ふとした時に行きたくなる、アットホームなサークルです。</p>
      <p>私達と一緒に、学生生活をより楽しくて、やりがいのあるものにしませんか？</p>
    </div>
  </div><! --/row -->
</div><! --/container -->

<div class="container">
  <div class="row centered">
    <div class="col-lg-8 col-lg-offset-2">
      <iframe src="https://drive.google.com/file/d/1Wx53QJFuEAUpxJZDaubU16j17qRxiNug/preview" width="640" height="480"></iframe>
    </div>
  </div><! --/row -->
</div><! --/container -->



<div class="col-lg-4 centered col-lg-offset-4">
<button class="snip0065 blue"　type="button"onclick="location.href='/practice'">練習会はコチラ</button>
</div>

<section id="members"></section>
<div class="container">
  <div class="row centered mt">
    <h1>Message</h1>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <figure class="snip1139">
        <blockquote>東大レモンスマッシュはアットホームな雰囲気で居心地のいいサークルで、テニスにもイベントにも全力で取り組みます！皆さんと一緒に最高の大学生活を過ごせることを楽しみにしています！</blockquote>
        <%=image_tag "index/message_takubo.jpg",:class => "img-responsive"%>
        <div class="author">
          <h5>小野田和生<span>- 東京大学3年</span></h5>
        </div>
      </figure>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <figure class="snip1139 hover">
        <blockquote>このサークルで出会った仲間たちとはきっと私生活でも欠かせない友人になれると思います！ぜひ東大レモンスマッシュで充実した大学生活を送ってください！</blockquote>
        <%=image_tag "index/message_fusae.jpg",:class => "img-responsive"%>
        <div class="author">
          <h5>高田舞美花<span>- お茶の水女子大学3年</span></h5>
        </div>
      </figure>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <figure class="snip1139">
        <blockquote>レスマではみんな本気でテニスに取り組みイベントも楽しんでいます！みんな仲が良くアットホームなレスマを是非見に来てください！</blockquote>
        <%=image_tag "index/message_wataru.jpg",:class => "img-responsive"%>
        <div class="author">
          <h5>安村荘佑<span>- 東京大学3年</span></h5>
        </div>
      </figure>
    </div>
  </div><! --/row -->
</div><! --/container -->

<section id="promotions"></section>
<div class="container">
	<div class="row centered mt mb">
		<h1>Features</h1>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <figure class="snip1181">
        <%=image_tag "index/tennis.jpg",:class => "img-responsive"%>
        <figcaption>
          <div class="circle">
            <div class="icon"><span>
              <i class="ion-ios-pulse"></i></span>
            </div>
            <h2>basic<span> info</span></h2>
          </div>
        </figcaption><a href="basic"></a>
      </figure>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <figure class="snip1181">
        <%=image_tag "index/camp.jpg",:class => "img-responsive"%>
        <figcaption>
          <div class="circle">
            <div class="icon"><span>
              <i class="ion-ios-paw-outline"></i></span>
            </div>
            <h2><span>members</span></h2>
          </div>
        </figcaption><a href="members"></a>
      </figure>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <figure class="snip1181">
        <%=image_tag "index/event.jpg",:class => "img-responsive"%>
        <figcaption>
          <div class="circle">
            <div class="icon"><span>
              <i class="ion-ios-star-outline"></i></span>
            </div>
            <h2><span> Events</span></h2>
          </div>
        </figcaption><a href="events"></a>
      </figure>
    </div>
	</div><! --/row -->
</div><! --/container -->
