<div id="tenniswrap">
    <div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
        <h4></h4>
        <h1>MEMBERS INTRODUCTION </h1>
        <h4></h4>
			</div>
		</div><! --/row -->
    </div> <!-- /container -->
</div><! --/headerwrap -->

    <div>
      <section class="margin-top" id="shinkan-compa">
        <div class="container">
          <div class="col-lg-12 events" style="background:white;">

            <div class="col-lg-6 info-img">
                <div><%= image_tag "index/message_takubo.jpg", :size => "400×300", :alt => "テニス"%></div>
            </div>
              <div class="col-lg-6">
                <h2>会長</h2>
                <p>会長。テニスの実力はもちろん、人望も厚くみんなに慕われている。
                  毎年なぜか会長になるメンバーは自他共に認めるイケメンが多いことから、人望と顔の良さは比例するという学説が浮上している。</p>
              </div>
          </div>
        </div>
      </section>
      <section class="margin-top" id="shinkan-compa">
        <div class="container">
          <div class="col-lg-12 events" style="background:white;">
            <div class="col-lg-6">
              <h2>副会長</h2>
              <p>毎年伝統のスウェットのデザインや発注に関するすべてを執り行う重役。上京するまでは森の中に昔からいたらしく、その身体能力は計り知れない。</p>
            </div>
              <div class="col-lg-6 info-img">
                <div><%= image_tag "members/sousuke.jpg", :size => "400×300", :alt => "テニス"%></div>
              </div>
          </div>
        </div>
      </section>
      <section class="margin-top" id="shinkan-compa">
        <div class="container">
          <div class="col-lg-12 events" style="background:white;">

            <div class="col-lg-6 info-img">
                <div><%= image_tag "index/message_fusae.jpg", :size => "400×300", :alt => "テニス"%></div>
            </div>
              <div class="col-lg-6">
                <h2>副会長</h2>
                <p>実質、女子のサークル代表となる。ほぼすべての練習やイベントに参加し部員たちを「まだまだいける！！」と鼓舞してくれる。</p>
              </div>
          </div>
        </div>
      </section>
      <section class="margin-top" id="shinkan-compa">
        <div class="container">
          <div class="col-lg-12 events" style="background:white;">
            <div class="col-lg-6">
              <h2>団体戦執行</h2>
              <p>団体戦や全対戦の他普段の練習まで、テニスに関しての指揮をとる。
                レギュラーメンバーから初心者までの育成にも力を入れており、日々サークルのテニスレベルの向上に貢献している。
                近年彼らのおかげでサークルのテニスレベルは学内でも指折りとなっている。</p>
            </div>
              <div class="col-lg-6 info-img">
                <div><%= image_tag "members/danshitsu.jpg", :size => "400×300", :alt => "テニス"%></div>
              </div>
          </div>
        </div>
      </section>
      <section class="margin-top" id="shinkan-compa">
        <div class="container">
          <div class="col-lg-12 events" style="background:white;">
            <div class="col-lg-6 info-img">
              <div><%= image_tag "members/somu.jpg", :size => "400×300", :alt => "テニス"%></div>
            </div>
            <div class=" col-lg-6">
              <h2>総務</h2>
              <p>イベント運営や各種連絡など、運営の最も根幹となる役職。裏方ではあるが、彼らのおかげでサークルが成り立っていると言っても過言ではない。</p>
            </div>
          </div>
        </div>
      </section>
      <section class="margin-top" id="shinkan-compa">
        <div class="container">
          <div class="col-lg-12 events" style="background:white;">
              <div class=" col-lg-6">
                <h2>広報</h2>
                <p>内部や外部にレモンスマッシュのことを文字通り"広報"する役職。ホームページやtwitter、Instagramの運営や各所とのcontactの他、アルバムやSNS用の写真撮影も行う。</p>
              </div>
              <div class="col-lg-6 info-img ">
                <div><%= image_tag "members/koho.jpg", :size => "400×300", :alt => "テニス"%></div>
              </div>
          </div>
        </div>
      </section>
      <section class="margin-top" id="shinkan-compa">
        <div class="container">
          <div class="col-lg-12 events" style="background:white;">

            <div class="col-lg-6 info-img">
                <div><%= image_tag "members/shinnkanndaihyou.jpg", :size => "400×300", :alt => "テニス"%></div>
            </div>
              <div class="col-lg-6">
                <h2>新歓代表</h2>
                <p>桜の舞い散る季節に行われる新歓に関してのすべてを管轄する役職。新歓PVの作成や新歓イベントの企画まで幅広く執り行ない、そのキャパシティは計り知れない。</p>
              </div>
          </div>
        </div>
      </section>
      <section class="margin-top" id="shinkan-compa">
        <div class="container">
          <div class="col-lg-12 events" style="background:white;">
            <div class="col-lg-6">
              <h2>会計</h2>
              <p>サークル全体の財政管理を行う重要な役職。部員からの厚い信頼の元、今日もせっせと領収書を集める。</p>
            </div>
              <div class="col-lg-6 info-img">
                <div><%= image_tag "members/kaikei.jpg", :size => "400×300", :alt => "テニス"%></div>
              </div>
          </div>
        </div>
      </section>
      <section class="margin-top" id="shinkan-compa">
        <div class="container">
          <div class="col-lg-12 events" style="background:white;">

            <div class="col-lg-6 info-img">
                <div><%= image_tag "members/gasshuku.jpg", :size => "400×300", :alt => "テニス"%></div>
            </div>
              <div class="col-lg-6">
                <h2>合宿係</h2>
                <p>春、夏、冬の合宿に加えて不定期の合宿の企画、運営を行う。旅行会社や宿泊先とのcontactなど堅い仕事も行う他、合宿では爆発的に面白い企画で盛り上げてくれる。</p>
              </div>
          </div>
        </div>
      </section>
      <section class="margin-top" id="shinkan-compa">
        <div class="container">
          <div class="col-lg-12 events" style="background:white;">
            <div class="col-lg-6">
              <h2>OB係</h2>
              <p>OB会の開催やOBとのコンタクトを行う。レスマ出身のOBには官公庁をはじめ有名企業の幹部からベンチャー企業の社長まで幅広く在籍しており、
                彼らの希望の職種への就職は堅いと言われているが実情は定かではない。</p>
            </div>
              <div class="col-lg-6 info-img">
                <div><%= image_tag "members/ob.jpg", :size => "400×300", :alt => "テニス"%></div>
              </div>
          </div>
        </div>
      </section>
      <section class="margin-top" id="shinkan-compa">
        <div class="container">
          <div class="col-lg-12 events" style="background:white;">

            <div class="col-lg-6 info-img">
                <div><%= image_tag "members/shoki.jpg", :size => "400×300", :alt => "テニス"%></div>
            </div>
              <div class="col-lg-6">
                <h2>書記</h2>
                <p>レスマの活動記録を掲載した冊子を月一回発行する他、その執筆のための”書記肉”と呼ばれる謎のイベントを開催する。
                  その活動は全般的に謎に包まれており、子細を知るものはいない。</p>
              </div>
          </div>
        </div>
      </section>
    </div>
